<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2022.  NESP Technology.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<Configuration status="warn" name="XInclude">
    <Properties>
        <!--        <Property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%t] %-40.40c{1.} : %m%n"/>-->
<!--        <Property name="PATTERN"-->
<!--                  value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %r: %level/%C{1}:%L: %m%n"/>-->
        <Property name="PATTERN"
                  value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %level/%C{1}:%L: %m%n"/>
    </Properties>
    <Appenders>
        <!-- 输出到控制台，仅在本地开发环境使用 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
        <!--输出到日志文件，滚动分割日志文件，自动打包gz-->
        <RollingFile name="File" fileName="${sys:user.home}/.nesp/PluginEditor/logs/app"
                     filePattern="${sys:user.home}/.nesp/PluginEditor/logs/app-%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <!--默认一天一个文件-->
                <TimeBasedTriggeringPolicy/>
                <!--一天内大于size就单独分隔-->
                <SizeBasedTriggeringPolicy size="1 GB"/>
                <DefaultRolloverStrategy max="5"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- 添加你的自定义logger，一般用于区分包名的日志，不同包名不同的级别/appender -->
        <!-- additivity 意思是，调用完当前appender，是否继续调用parent logger appender，默认true-->
        <!--        <Logger name="your logger/package name" level="debug" additivity="false"/>-->

<!--        <Logger name="com.nesp.fishplugin.editor" level="all" additivity="false"/>-->

        <!--默认的Root Logger 级别-->
        <!--        level:日志输出级别，共有8个级别，按照从低到高为：All < Trace < Debug < Info < Warn < Error < Fatal < OFF.-->
        <Root level="INFO">
            <!--这里需要区分下环境（配合maven profile之类的）-->
            <!-- 开发环境使用Console Appender，生产环境使用File Appender -->
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>