*.iml
.gradle
/local.properties
/.idea/compiler.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/out
/build
/captures
.externalNativeBuild
.cxx
*.xlsx
/database/
/.idea/artifacts/
/nesp-sdk-kotlin-localnet-device/nesp-sdk-kotlin-localnet-device/build/
/log/
movie-runtime-javafx/build/
runtime-javafx/build/
app/build
/jcef-bundle/locales/af.pak
/jcef-bundle/locales/am.pak
/jcef-bundle/locales/ar.pak
/jcef-bundle/locales/bg.pak
/jcef-bundle/locales/bn.pak
/jcef-bundle/locales/ca.pak
/jcef-bundle/locales/cs.pak
/jcef-bundle/locales/da.pak
/jcef-bundle/locales/de.pak
/jcef-bundle/locales/el.pak
/jcef-bundle/locales/en-GB.pak
/jcef-bundle/locales/en-US.pak
/jcef-bundle/locales/es.pak
/jcef-bundle/locales/es-419.pak
/jcef-bundle/locales/et.pak
/jcef-bundle/locales/fa.pak
/jcef-bundle/locales/fi.pak
/jcef-bundle/locales/fil.pak
/jcef-bundle/locales/fr.pak
/jcef-bundle/locales/gu.pak
/jcef-bundle/locales/he.pak
/jcef-bundle/locales/hi.pak
/jcef-bundle/locales/hr.pak
/jcef-bundle/locales/hu.pak
/jcef-bundle/locales/id.pak
/jcef-bundle/locales/it.pak
/jcef-bundle/locales/ja.pak
/jcef-bundle/locales/kn.pak
/jcef-bundle/locales/ko.pak
/jcef-bundle/locales/lt.pak
/jcef-bundle/locales/lv.pak
/jcef-bundle/locales/ml.pak
/jcef-bundle/locales/mr.pak
/jcef-bundle/locales/ms.pak
/jcef-bundle/locales/nb.pak
/jcef-bundle/locales/nl.pak
/jcef-bundle/locales/pl.pak
/jcef-bundle/locales/pt-BR.pak
/jcef-bundle/locales/pt-PT.pak
/jcef-bundle/locales/ro.pak
/jcef-bundle/locales/ru.pak
/jcef-bundle/locales/sk.pak
/jcef-bundle/locales/sl.pak
/jcef-bundle/locales/sr.pak
/jcef-bundle/locales/sv.pak
/jcef-bundle/locales/sw.pak
/jcef-bundle/locales/ta.pak
/jcef-bundle/locales/te.pak
/jcef-bundle/locales/th.pak
/jcef-bundle/locales/tr.pak
/jcef-bundle/locales/uk.pak
/jcef-bundle/locales/ur.pak
/jcef-bundle/locales/vi.pak
/jcef-bundle/locales/zh-CN.pak
/jcef-bundle/locales/zh-TW.pak
/jcef-bundle/build_meta.json
/jcef-bundle/chrome-sandbox
/jcef-bundle/chrome_100_percent.pak
/jcef-bundle/chrome_200_percent.pak
/jcef-bundle/gluegen.LICENSE.txt
/jcef-bundle/icudtl.dat
/jcef-bundle/install.lock
/jcef-bundle/jcef_helper
/jcef-bundle/jogl.LICENSE.txt
/jcef-bundle/libcef.so
/jcef-bundle/libEGL.so
/jcef-bundle/libGLESv2.so
/jcef-bundle/libjcef.so
/jcef-bundle/libvk_swiftshader.so
/jcef-bundle/libvulkan.so.1
/jcef-bundle/LICENSE.txt
/jcef-bundle/README.txt
/jcef-bundle/resources.pak
/jcef-bundle/v8_context_snapshot.bin
/jcef-bundle/vk_swiftshader_icd.json
/.idea/MarsCodeWorkspaceAppSettings.xml
/.idea/git_toolbox_prj.xml
